.price-range-container {

  .title-container{
    p{
      background-color: var(--items-bg);
    }
  }
  background-color: var(--header-color);
  .inner-container {
    .price-values-container{
      top: -8px;
    }
    .min-max-text-container {
      bottom: 0;
      span{
        color: #919191;
      }
    }
  }
}