.price-range-container {
  .inner-container {
    .price-values-container{
      top: -8px;
    }
    .min-max-text-container {
      bottom: 0;
      span{
        color: #919191;
      }
    }
  }
}