.user-container {
  border: 1px solid var(--primary-color);
  background-color: var(--header-color);
  .right-container{
    .delete-icon{
      color: red;
    }
    .edit-icon{
      color: #868686;
      &:hover{
        color: var(--hover-color);
      }
    }
  }
  mat-icon{
    color: var(--primary-color);
  }
}
::ng-deep .delete-dialog-backdrop.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.58);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

::ng-deep.cdk-overlay-container {
  .delete-dialog-container{
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    left: 50%;
    right: calc(50% - 150px);
    top: 50%;
    position: fixed !important;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
}


