.user-container {
  border: 1px solid var(--primary-color);
  background-color: var(--header-color);
  position: relative;

  .left-container {
    .image-icon-container {
      img {
        border: 1px solid var(--primary-color);
      }

      div {
        position: absolute !important;
        top: 16px;
        left: 16px;
        transform: translate(-50%, -50%);
        font-size: 50px;

        .mat-icon {
          color: var(--hover-color);
        }
      }
    }

    p {
      color: var(--primary-color);
    }
  }

  .right-container {
    .delete-icon {
      color: red;
    }

    .restore-icon {
      color: #868686;

      &:hover {
        color: var(--hover-color);
      }
    }

    .edit-icon {
      &:hover {
        color: var(--hover-color);
      }
    }
  }

  mat-icon {
    color: var(--primary-color);
  }
}

::ng-deep .delete-dialog-backdrop.cdk-overlay-backdrop {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

::ng-deep .cdk-overlay-container {
  .delete-dialog-container {
    z-index: 3;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    left: 50%;
    right: calc(50% - 150px);
    top: 50%;
    position: fixed !important;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
}


