<ng-container *ngIf="user">

  <div class="user-container flex-row justify-content-space-b pl-20 pr-20 align-i-center h-88 ml-10 mr-10 mt-10">
    <div class="left-container flex-row align-i-center gap-10">
      <div class="cursor-default border-circle image-icon-container h-48 w-48">
        <img *ngIf="user.profileUrl; else renderIconTemplate" [src]="user.profileUrl"/>
        <div class="fs-16 w-16 h-16" *ngIf="user.admin">
          <mat-icon class="fs-16 w-16 h-16" [fontIcon]="'star'"></mat-icon>

        </div>
      </div>
      <div class="cursor-default">
        <p class="fs-28">{{ user.name || 'User' }}</p>
        <p class="fs-20">{{ user.email || 'Email' }}</p>
      </div>
    </div>
    <div class="right-container flex-row gap-20">

      <mat-icon class="edit-icon cursor-pointer fs-34 h-34 w-34"
                [fontIcon]="'edit'"></mat-icon>
      <mat-icon
        [ngClass]="user.deleted?'restore-icon':'delete-icon'"
        (click)="user.deleted?onRestoreClick():onDeleteClick()" class="cursor-pointer fs-38 h-38 w-38"
        [fontIcon]="user.deleted ?'settings_backup_restore':'delete_forever'"></mat-icon>
    </div>

  </div>

</ng-container>

<ng-template #renderIconTemplate>
  <mat-icon class="cursor-default fs-48 h-48 w-48  "
            [fontIcon]="'account_circle'"></mat-icon>
</ng-template>
