.profile-details-bar {
  background-color: var(--header-color);

  .profile-pic-container {
    background-color: var(--items-bg);
  }

  .username-container {
    background-color: var(--items-bg);
  }
}