.price-range-container {

  background: var(--header-color);

  .inner-container {
    .price-values-container {
      top: -8px;
      span{
        color: var(--text-main);
      }
    }

    .min-max-text-container {
      bottom: 0;

      span {
        color: #919191;
      }
    }
  }
}