.profile-details-container {
  height: 80vh;
  position: relative;
  right: 0;
  border: 1px solid var(--border-color);
  background-color: var(--header-color);

  .expand-icon-container{
    top: 12px;
    left: 0;

    mat-icon {
      color: #949494;
    }
  }

  &.hide-comp {
  }

  &:hover {
  }

  .profile-pic-container {
    border: 1px solid var(--primary-color);

    .profile-pic {
      overflow: hidden;
      object-fit: contain;
    }

    .profile-icon {
      color: var(--primary-color);
    }
  }

  p {
    color: var(--primary-color);
    text-align: center;
  }
}

::ng-deep .profile-edit-from-backdrop.cdk-overlay-backdrop {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

::ng-deep .cdk-overlay-container {
  .profile-edit-from-container {
    display: flex;
    flex-direction: column;
    z-index: 3;
    height: 80vh;
    border-radius: 10px;
    width: 60vw;
    //box-shadow: 0px 0px 40px #b1b1b1;
    max-width: 600px;
    left: 50%;
    right: calc(50% - 150px);
    top: 50%;
    position: fixed !important;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
}

::ng-deep .cdk-overlay-container {
  .profile-edit-from-container-mobile {
    display: flex;
    flex-direction: column;
    z-index: 3;
    height: 80vh;
    border-radius: 10px;
    width: 60vw;
    max-width: 600px;
    left: 50%;
    right: calc(50% - 150px);
    top: 50%;
    position: fixed !important;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }

  ::ng-deep .mat-mdc-dialog-surface {
    background: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }

}
