.sell-item-container {
  border: 1px solid transparent;
  background: #62ee3e;

  &:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  }

  mat-icon {
    color: var(--primary-color);
  }

  p {
    color: var(--primary-color);
  }
}
