.sell-item-container {
  border: 1px solid transparent;
  background: #004f3c;

  &:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  }

  mat-icon {
    color: white;
  }

  p {
    color: white;
  }
}
