<div (click)="onItemClick.emit()"
     class="header-menu-outer-container
     position-absolute
     flex-row justify-content-center p-8
     w-100p h-100p">
  <div
      [@fadeInOut]
      class="header-menu-container br-32 h-200
       w-100p mt-72 pl-8 pr-8">
    <ng-container *ngIf="!isAuthenticated">
      <div class="flex-row-reverse pr-8 gap-12 pt-12">
        <mm-nav-button
            (click)="onItemClick.emit('SIGNUP')"
            class="pl-4 pr-4 h-40 w-128 br-20"
            textClass="fw-6"
            text="Open Account"
            gap="5"
            [isOpenAccountBtn]="true"
            [headerNav]="true"
        ></mm-nav-button>
        <mm-nav-button
            (click)="onItemClick.emit('LOGIN')"
            class="pl-4 pr-4 h-40 w-100 br-20"
            iconContainerClass="h-32 w-32"
            iconClass="h-20 w-20 fs-20"
            textClass="fw-6"
            text="Login"
            gap="5"
            [showIcon]="true"
            [headerNav]="true"
            icon="login"
        ></mm-nav-button>
      </div>

    </ng-container>
    <ng-container *ngIf="isAdmin">
      <mm-nav-button
          (click)="onItemClick.emit('ADMIN')"
          class="pl-4 pr-12 h-40 br-20"
          iconContainerClass="h-32 w-32"
          iconClass="h-20 w-20 fs-20"
          textClass="fw-6"
          [text]="'Admin'"
          gap="5"
          [headerNav]="true"
          [showIcon]="true"
          icon="shield_person"
      ></mm-nav-button>
    </ng-container>
    <mm-nav-button
        (click)="onItemClick.emit('CATEGORIES')"
        class="pl-4 pr-4 h-40 br-20"
        iconContainerClass="h-32 w-32"
        iconClass="h-20 w-20 fs-20"
        textClass="fw-6"
        text="Categories"
        gap="5"
        [headerNav]="true"
        [showIcon]="true"
        icon="category"
    ></mm-nav-button>
    <mm-nav-button
        (click)="onItemClick.emit('HOME')"
        class="pl-4 pr-4 h-40 br-20"
        iconContainerClass="h-32 w-32"
        iconClass="h-20 w-20 fs-20"
        textClass="fw-6"
        text="Home"
        gap="5"
        [headerNav]="true"
        [showIcon]="true"
        icon="home"
    ></mm-nav-button>
  </div>
</div>