.admin-container{
  height: calc(100vh - 160px) !important;
  .left-container{
    .nav-item-container{
      border: 1px solid var(--primary-color);

      background-color: var(--header-color);
      mat-icon{
        color: var(--primary-color);
      }
      p{
        color: var(--primary-color);
      }
      &.item-selected{
        background-color: var(--primary-color);
        mat-icon{
          color: var(--header-color) !important;
        }
        p{
          color: var(--header-color) !important;
        }
      }
    }
  }
  .right-container{
    height: 100%;
  }
}
