6<div
    [ngStyle]="{
    'border': isBottomSheet || !isExpanded ? 'none'
    :'0.5px solid var(--border-color)',
    'background-color':isExpanded || isBottomSheet ? 'var(--header-color)':'transparent'

    }"
    [ngClass]="{
    'p-20':isExpanded || isBottomSheet,
    'bottom-sheet-br':isBottomSheet,
    'br-32':!isBottomSheet,

    }"
    class=" position-relative w-100p
   profile-details-container justify-content-center
  gap-12 flex-column align-i-center br-2">
  <div class="position-absolute pill-container">
    @if (isBottomSheet) {
      <mm-bottomsheet-pill></mm-bottomsheet-pill>
    }
  </div>
  @if (!isBottomSheet) {
    <div
      (click)="expandComponent.emit(!isExpanded)"
      (keydown)="onExpandKeydown($event)"
      tabindex="0"
      role="button"
      [attr.aria-label]="isExpanded ? 'Collapse profile details' : 'Expand profile details'"
      [ngClass]="isExpanded? 'ml-8': 'ml-4'"
       class="expand-icon-container cursor-pointer flex-row
       w-100p position-absolute">
      <mm-back-fw-icon
        [isForwardIcon]="isExpanded"
        (clicked)="expandComponent.emit(!isExpanded)"
        backgroundColor="var(--border-color)"
        iconClass="fs-12 w-12 h-12"
        containerClass="w-20 h-20"
        >
      </mm-back-fw-icon>
    </div>
  }
  @if ( isExpanded || isBottomSheet) {
    <div
        [ngStyle]="{'height': isBottomSheet ? '100%'
    :'80vh'}"
      (click)="userDetails?.profile_url && !renderIcon ? onProfilePicClick():null"
      (keydown)="onProfilePicKeydown($event)"
      [attr.tabindex]="userDetails?.profile_url && !renderIcon ? '0' : null"
      [attr.role]="userDetails?.profile_url && !renderIcon ? 'button' : null"
      [attr.aria-label]="userDetails?.name ? 'View ' + userDetails?.name + ' profile picture' : 'View profile picture'"
        class="profile-pic-container p-4 flex-row
         w-100 h-100 border-circle cursor-pointer
      align-i-center justify-content-center">
      @if (userDetails?.profile_url && !renderIcon) {
        <img (error)="renderIcon=true"
          class="profile-pic border-circle w-100p h-100p"
          [src]="userDetails?.profile_url"
          [alt]="userDetails?.name ? userDetails?.name + ' profile picture' : 'User profile picture'"
          loading="lazy">
        } @else {
          <mat-icon class="profile-icon fs-60 w-60 h-60"
          [fontIcon]="'person'"></mat-icon>
        }
      </div>
    <div class=" username-container w-100p cursor-default flex-row align-i-center justify-content-center
     br-32 pt-12 pb-12 pr-16 pl-16">
        <p class="fs-32 fw-6">{{ userDetails?.name || 'USER' }}</p>
      </div>
    <div class="flex-column p-28 br-32 cursor-default w-100p
    email-contact-container gap-8">
        <p class="fs-16 p-16 br-32">{{ userDetails?.email || 'Email' }}</p>
        @if (userDetails?.contact_no) {
          <p
            class="fs-16 p-16 br-32">
            Contact: {{ userDetails?.contact_no }}
          </p>
        } @else {
          <div class="w-100p p-12 align-i-center flex-row justify-content-space-b br-32">
            <p>Contact</p>
            <mm-button
              (click)="onEditProfileClick()"
              [disabled]="false"
              [showIcon]="true"
              icon="add"
              iconClass="fs-24 w-24 h-24"
              type='button'
              class="fs-28 w-28 h-28"
            ></mm-button>
          </div>
        }
      </div>
      @if (self) {
        <mm-button
          (click)="onEditProfileClick()"
          class="w-100p h-56" [type]="'button'"
          [class]="'w-100p h-34'"
          [text]="isUpdatingProfile ? 'UPDATING...' : 'EDIT PROFILE'"
          [disabled]="isUpdatingProfile">
        </mm-button>
      } @else {
        <mm-button
          (click)="onChatClick()"
          class="w-100p h-56" [type]="'button'"
          [class]="'w-100p h-34'"
          [text]="'CHAT'"
          [showIcon]="true"
          icon="chat"
          iconClass="fs-20 w-20 h-20">
        </mm-button>
      }
    }

  </div>


