.autocomplete-select-container {
  border: 1px solid transparent;

  &:hover {
    border: 1px solid var(--hover-color);

  }

  &:focus {
    border: 1px solid var(--hover-color);
  }

  &.disabled {
    opacity: 0.9;
  }

  input {
    background-color: var(--items-bg);
    outline: none;

    &.disabled {
      cursor: not-allowed !important;
    }
  }

  .dropdown {
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    max-height: 220px;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.10),
    0 -2px 6px rgba(0, 0, 0, 0.08),
    2px 0 6px rgba(0, 0, 0, 0.06),
    -2px 0 6px rgba(0, 0, 0, 0.06);
    z-index: 4;

    .dropdown-option {
      transition: background 0.2s ease;

      &:hover {
        background: var(--items-bg);
      }

      &.selected {
        background: var(--hover-color);
        font-weight: 500;
        color: white;
      }
    }
  }


  .arrow-key-container {
    top: calc(50% - 6px);
    right: 5px;

    .arrow-icon {
      transition: transform 0.25s ease;
      transform: rotate(0deg);

      &.rotated {
        transform: rotate(-180deg);
      }
    }
  }
}
