.login-signup-form-container-i {
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top-left-radius: 20px;
  background-color: var(--header-color);
  transition: all 0.5s linear;

  .back-icon-container {
    .back-icon {
      color: var(--text-color-disable);
    }
  }

  .close-icon-container {
    top: 20px;
    right: 20px;
    background-color: #bbbbbb;

    .close-icon {
      color: var(--primary-color);
      font-weight: 550;
    }
  }

  .login-signup-form {
    width: 100%;
    margin-top: 20vh;

    .form-heading-container {
      .form-heading {
        text-align: center;
        color: var(--primary-color);
      }
    }

    .invalid-text-container {
      width: 100%;

      .invalid-text {
        color: red;
      }
    }

    .pass-input-container {
      border: none;
      background-color: var(--items-bg);
      outline: none;
      width: 100%;

      &:hover {
        border: 1px solid var(--hover-color);
      }

      &:focus {
        border: 1px solid var(--hover-color);
      }

      .pass-input {
        width: 80%;
        outline: none;
        height: 100%;
        background-color: var(--item-bg);
      }

      .visibility-icon {
        top: 20px;
        right: 10px;
        font-size: 20px;
        color: var(--primary-color);
      }
    }

    .submit-btn {
      color: white;
      background-color: var(--primary-color);
      font-weight: 700;
      width: 100%;
    }
  }

  .login-signup-text-container {
    .login-signup-text {
      color: #f7f7f7;

      span {
        color: var(--primary-color);
        text-decoration: underline;

        &:hover {
          color: var(--hover-color);
        }
      }
    }
  }
}

.next-btn-container {
  justify-content: flex-end;

  .next-btn {
    border: 1px solid var(--primary-color);
    box-sizing: border-box;

    p {
      font-weight: 700;
    }

    &.next-btn-disabled {
      background-color: var(--button-color-disable) !important;
      border: none;

      p {
        color: var(--text-color-disable);
      }

      mat-icon {
        color: var(--text-color-disable);
      }
    }
  }
}
