<div
    class="user-list-skeleton user-container flex-row br-40
    justify-content-space-b pl-4 pr-4 align-i-center h-48 ml-10 mr-10 mt-10">
  <div class="skeleton-left left-container flex-row align-i-center gap-10">
    <div class="skeleton-avatar border-circle h-40 w-40"></div>
    <div class="skeleton-info flex-column gap-8">
      <div class="skeleton-name br-32 h-20 w-120"></div>
      <div class="skeleton-email br-32 h-16 w-160"></div>
    </div>
  </div>
  <div class="skeleton-right right-container flex-row gap-8">
    <div class="skeleton-icon border-circle h-40 w-40"></div>
    <div class="skeleton-icon border-circle h-40 w-40"></div>
  </div>
</div>
