.nav-item-container {
  background-color: var(--header-color);

  &.in-header-bg {
    background: var(--items-bg);
  }

  &.bg {
    background: #fdfdfd;
  }

  &.open-account-btn {
    background: #62ee3e;
  }

  &.log-out-btn {
    background: #ff5a5a;
  }

  .icon-container {

    &.in-header-ic-bg {
      background: var(--header-color);
    }

    &.ic-bg {
      background: #e0e0e0;
    }
  }


  mat-icon {
    color: var(--primary-color);
  }

  p {
    color: var(--primary-color);
  }

  &.item-selected {
    background-color: var(--primary-color);

    mat-icon {
      color: var(--header-color) !important;
    }

    p {
      color: var(--header-color) !important;
    }
  }

  &.inactive {
    &:hover {
      border-color: var(--hover-color);

      div {
        p {
          color: var(--hover-color)
        }

        mat-icon {
          color: var(--hover-color)
        }
      }
    }
  }
}
