.main-container {
  height: calc(100vh - 112px) !important;
  width: 100vw;

  .profile-detail-mobile-container {
    width: 100vw;
    flex-grow: 1;
    border: 1px solid;
  }

  .right-section {
    justify-content: end;
  }

  .left-section, .right-section {
    transition: width 0.3s ease-in-out;
  }

  .profile-details-bar-container {
    bottom: 20px;
    left: 0;
  }

}

::ng-deep .profile-details-bottomsheet-backdrop.cdk-overlay-backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

}

::ng-deep .cdk-overlay-container {
  width: 100vw;
  position: fixed;
  border: 0;
  bottom: 0;

  .profile-details-bottomsheet-container {
    display: flex;
    justify-content: center;
    //height: 85vh;
    overflow: hidden;

    .mat-bottom-sheet-container {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      box-shadow: none;
      padding: 0;
      margin: 0;
      max-width: none;
    }
  }
}