<div *ngIf="renderComponent"
     [ngClass]="!isMobile?'flex-row':'flex-column'"
     class="mt-100 main-container flex-row align-i-center w-100p">
  <div
      [ngStyle]="{
    width: isMobile ? '100%' :
     (expandProfileDetails ? '75%' : 'calc(100% - 40px)')
  }"
      [ngClass]="isMobile ? 'justify-content-center' : 'flex-row pl-12 pt-4'"
      class="left-section h-100p flex-column br-20 gap-12"
  >
    <mat-tab-group
        [(selectedIndex)]="selectedTabIndex"
        class="pill-tabs w-100p h-100p"
        (selectedIndexChange)="onTabChange($event)"
    >
      <mat-tab
          labelClass="br-32"
          [label]="selfUser?'My Posts':'Posts'">
        <div
            style="flex-wrap: wrap"
            class="flex-row flex-wrap gap-12 pt-12">
          <ng-container *ngFor="let listing of userListings; trackBy: trackByListingId">
            <mm-listing-card [listing]="listing"></mm-listing-card>
          </ng-container>
        </div>
      </mat-tab>

      <mat-tab
          *ngIf="selfUser"
          labelClass="br-32"
          label="Favorites">
        <div
            style="flex-wrap: wrap"
            class="flex-row flex-wrap gap-12 pt-12">
          <ng-container *ngFor="let listing of favoriteListings; trackBy: trackByListingId">
            <mm-listing-card [listing]="listing"></mm-listing-card>
          </ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div
      [ngStyle]="{
    width:expandProfileDetails ? '25%':'40px',
  }"
      *ngIf="!isMobile" class="right-section pl-4 pr-4">

    <mm-profile-detail
        [isExpanded]="expandProfileDetails"
        (expandComponent)="onExpandProfileDetails($event)"
        [userDetails]="userDetails">
    </mm-profile-detail>
  </div>
  <ng-container *ngIf="isMobile">
    <div class="profile-details-bar-container w-100p pl-8 pr-8
     position-absolute">
      <mm-user-profile-bar
          [userProfileUrl]="userDetails?.profile_url ?? null"
          [userName]="userDetails?.name ?? null"
          (showProfileDetails)="showDetailsBottomSheet($event)"
      >

      </mm-user-profile-bar>
    </div>
  </ng-container>
</div>

