.main-container {
  height: calc(100vh - 112px) !important;
  width: 100vw;

  .profile-detail-mobile-container {
    width: 100vw;
    flex-grow: 1;
    border: 1px solid;
  }

  .left-section {
    background-color: var(--header-color);
    border: 1px solid var(--border-color);
  }

  .right-section {
    justify-content: end;
  }
  .left-section, .right-section {
    transition: width 0.3s ease-in-out;
  }

}
