.main-container {
  height: calc(100vh - 56px);
  width: 100vw;

  .profile-detail-mobile-container {
    width: 100vw;
    flex-grow: 1;
    border: 1px solid;
  }

  .left-section {
    background-color: forestgreen;
    width: calc(70% - 1px);
  }

  .right-section {
    width: 30%;
    height: 100%;
  }
}
