<ng-container
    *ngIf="!isLoading && users && users.length;
     else noUsersOrLoadingTemplate">
  <div class="admin-users-container
  h-100p br-44 pt-12 pb-20 ml-8 mb-12">

    <div *ngFor="let user of users">
      <mm-admin-user-list
          [user]="user"
          (deleteOrRestoreUser)="onDeleteOrRestoreUser($event)"
          (getUpdatedList)="getAllUsers()"
          [isMobile]="isMobile"></mm-admin-user-list>
    </div>


  </div>

</ng-container>

<ng-template #noUsersOrLoadingTemplate>
  <ng-container *ngIf="isLoading">
    <div class="no-content flex-row justify-content-center align-i-center h-100p">

      <mm-loader></mm-loader>
    </div>

  </ng-container>


  <ng-container *ngIf="!isLoading && !users.length">
    <div class="no-content flex-row justify-content-center align-i-center h-100p">
      <div class="flex-column justify-content-center align-i-center">

        <mat-icon class="ls-option-icon cursor-pointer fs-100 h-100 w-100"
                  [fontIcon]="'warning'"></mat-icon>
        <p class="fs-40">No Users Found!</p>
      </div>

    </div>

  </ng-container>

</ng-template>
