@if (!isLoading && users && users.length) {
  <div class="admin-users-container
  h-100p br-44 pt-12 pb-20 ml-8 mb-12">
    @for (user of users; track user) {
      <div>
        <mm-admin-user-list
          [user]="user"
          (deleteOrRestoreUser)="onDeleteOrRestoreUser($event)"
          (getUpdatedList)="getAllUsers(0, false)"
        [isMobile]="isMobile"></mm-admin-user-list>
      </div>
    }
  </div>
  @if (hasMore) {
    <div id="users-sentinel" style="height: 1px; width: 100%;"></div>
  }
  @if (isLoading && users.length > 0) {
    <div class="loading-indicator w-100p p-12">
      <p class="text-center">Loading more users...</p>
    </div>
  }
} @else {
  @if (isLoading) {
    <div class="admin-users-container h-100p br-44 pt-12 pb-20 ml-8 mb-12">
      @for (i of [1,2,3,4,5,6]; track i) {
        <mm-user-list-skeleton></mm-user-list-skeleton>
      }
    </div>
  }
  @if (!isLoading && !users.length) {
    <div class="no-content flex-row justify-content-center align-i-center h-100p">
      <div class="flex-column justify-content-center align-i-center">
        <mat-icon class="ls-option-icon cursor-pointer fs-100 h-100 w-100"
        [fontIcon]="'warning'"></mat-icon>
        <p class="fs-40">No Users Found!</p>
      </div>
    </div>
  }
}

