.user-menu-nav-container {
  background: var(--items-bg);
  justify-content: right;
  border: 1px solid var(--border-color);

  &:hover {
    filter: brightness(1.05);
  }

  &:hover .text-container,
  &:hover .image-icon-container {
    transition: all 0.25s ease;
  }

  &:hover p,
  &:hover mat-icon {
    filter: brightness(1.05);
  }

  .image-icon-container, .text-container {
    background: var(--header-color);
    background: var(--items-bg);
  }

  .image-icon-container {
    border: 1px solid var(--border-color);
  }

  mat-icon {
    color: var(--primary-color);
  }

  p {
    color: var(--primary-color);
  }
}
