.user-menu-nav-container {
  background: var(--items-bg);
  justify-content: right;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
  inset 0 1px 4px rgba(255, 255, 255, 0.4);

  &:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25),
    inset 0 1px 5px rgba(255, 255, 255, 0.6);
  }

  &:hover .text-container,
  &:hover .image-icon-container {
    background: linear-gradient(
                    145deg,
                    rgba(255, 255, 255, 0.75) 0%,
                    rgba(255, 255, 255, 0.28) 100%
    );
    transition: all 0.25s ease;
  }

  &:hover p,
  &:hover mat-icon {
    filter: brightness(1.15);
  }

  .image-icon-container, .text-container {
    background: var(--header-color);
    background: linear-gradient(
                    145deg,
                    rgba(255, 255, 255, 0.6) 0%,
                    rgba(255, 255, 255, 0.2) 100%
    );
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15),
    inset 0 1px 3px rgba(255, 255, 255, 0.6);
  }

  mat-icon {
    color: var(--primary-color);
  }

  p {
    color: var(--primary-color);
  }
}
