.header-container {
  overflow-x: hidden;

  .header {
    z-index: 1;
    transition: height 0.5s ease;
    background-color: var(--header-color);
    width: calc(100% - 40px);
    top: 20px;
    left: 20px;

    &.height-90 {
      height: 90%;
    }

    .upper-container {
      .right-section {
        flex-direction: row-reverse;

        .profile-pic-container {
          overflow: hidden;
          backdrop-filter: blur(10px);
          background: #0083B06E;

          .profile-pic {
            overflow: hidden;
            object-fit: cover;
          }

          &.styles {
            border: 1px solid red;
          }

          .profile-pic-icon {
            color: white;
          }
        }

        .ls-option-container {

          .ls-option-icon {
            color: var(--icon-color);
          }

        }

        .categories-hover {
          &:hover {
            width: 140px;
          }
        }
      }
    }

    .expanded-container {
      overflow: hidden;
      transition: height 500ms ease;

      &.h-90p {
        height: 90%;
      }

      .expanded-profile-container {
        flex-direction: row-reverse;

        .name-logout-container {
          p {
            text-align: end;
            color: var(--primary-color);
          }
        }
      }

      .expanded-cat-container {
        flex-wrap: wrap;
        overflow: scroll;
      }
    }
  }

  .glass-icon-container {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    .profile-pic-icon {
      color: var(--primary-color);
    }
  }


  @media screen and (max-width: 969px) {
    .header {
      left: 10px;
      width: calc(100% - 20px);
    }
  }
}

