.header-container {
  border: 1px solid;
  overflow-x: hidden;
  background-color: var(--primary-color);

  .header {
    z-index: 1;
    transition: height 0.5s ease;
    background-color: var(--header-color);
    width: calc(100% - 40px);
    border: 1px solid var(--border-color);
    top: 20px;
    left: 20px;

    &.height-90 {
      height: 90%;
    }

    .upper-container {
      .right-section {
        flex-direction: row-reverse;

        .profile-pic-container {
          overflow: hidden;
          border: 1px solid var(--primary-color);

          .profile-pic {
            overflow: hidden;
            object-fit: cover;
          }

          &.styles {
            border: 1px solid red;
          }

          .profile-pic-icon {
            color: var(--primary-color);
          }
        }

        .ls-option-container {

          .ls-option-icon {
            color: var(--primary-color);
          }

        }

        .categories-hover {
          &:hover {
            width: 140px;
          }
        }
      }
    }

    .expanded-container {
      overflow: hidden;
      transition: height 500ms ease;

      &.h-90p {
        height: 90%;
      }

      .expanded-profile-container {
        flex-direction: row-reverse;

        .name-logout-container {
          p {
            text-align: end;
            color: var(--primary-color);
          }
        }
      }

      .expanded-cat-container {
        flex-wrap: wrap;
        overflow: scroll;
      }
    }
  }

  @media screen and (max-width: 969px) {
    .header {
      left: 10px;
      width: calc(100% - 20px);
    }
  }
}

