@use '@angular/material' as mat;
@import 'lib/styles';
@import 'lib/var.global';
@include mat.core();

:root {
  @include mat.slider-overrides((
          active-track-color: var(--hover-color),
          active-track-height: 4px,
          inactive-track-height: 4px,
          inactive-track-shape:4px,
          active-track-shape:12px,
          focus-handle-color: black,
          handle-height: 12px,
          handle-width: 12px,
          handle-shape:12px,
          handle-color:black,
          handle-elevation:10px,
          inactive-track-color: var(--border-color)
  ));

  @include mat.tabs-overrides((
          container-height: 40px,
          divider-height:0,
  ));
}

body {
  background: var(--app-background-color);
  overflow-x: hidden;
}

#toast-container > div.toast {
  opacity: 1;
}

.toast-success {
  background-color: var(--success-notify-color);
}

.toast-error {
  background-color: var(--error-notify-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.mdc-tooltip__surface {
  background: linear-gradient(135deg, #000000, #000000) !important;
  background-size: 200% 200% !important;
  animation: tooltipShimmer 3s ease infinite !important;

  color: white !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  padding: 6px 12px !important;
  border-radius: 6px !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25) !important;
  overflow: visible !important;
}

@keyframes tooltipShimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mdc-tooltip__surface::after {
  content: '';
  position: absolute !important;
  bottom: 100% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #000000 !important;
}


