<div
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave()"
  (drop)="onDrop($event)"
  [class.dragover]="isDragOver"
  class="form-container flex-column w-100p">
  <form
    class=" mt-20 profile-edit-form w-100p" [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
    <div
      [ngClass]="isMobile?'flex-column pr-8':'flex-row'"
      class="inner-container w-100p h-100p">
      <div
        [ngStyle]="{
     'max-width': isMobile? '100%': '800px',
      'width': isMobile? '100%': '60%',
      'height': isMobile? '': '100%'
    }"
        class="left-container flex-column gap-20">

        <div class="flex-column pl-12 gap-8">
          <label class="fs-24" for="name">Name:</label>
          <input class="form-input pl-4 fs-16 display-block h-60 position-relative br-10" id="name"
                 formControlName="name" type="text">
        </div>

        <div class="flex-column pl-12 gap-8">
          <label class="fs-24" for="email">Email:</label>
          <input class="form-input fs-16 pl-4 display-block h-60 position-relative br-10" id="email"
                 formControlName="email" type="email">
        </div>

        <div class="flex-column pl-12 gap-8">
          <label class="fs-24" for="contactNo">Phone:</label>
          <input class="form-input fs-16 pl-4 display-block h-60 position-relative br-10" id="contactNo"
                 formControlName="contactNo" type="text">
        </div>
        <ng-container *ngIf="!isMobile">
          <div class="pl-12">
            <mm-button [class]="'w-100p h-60 br-4 gap-20'"
                       position="after"
                       [disabled]="editProfileForm.invalid"
                       icon="cloud_upload"
                       iconClass="fs-20 w-20 h-20"
                       type='submit'
                       text="Update Profile"
            ></mm-button>
          </div>

          <div class="pl-12">

            <mm-button [class]="'w-100p h-60 br-4 gap-20'"
                       iconClass="fs-20 w-20 h-20"
                       type='button'
                       text="Close"
                       (click)="closeDialog()"
            ></mm-button>
          </div>
        </ng-container>
        <!--        <div class="pl-12">-->
        <!--          <mm-button [class]="'w-100p h-60 br-4 gap-20'"-->
        <!--                     position="after"-->
        <!--                     [disabled]="editProfileForm.invalid"-->
        <!--                     icon="cloud_upload"-->
        <!--                     iconClass="fs-20 w-20 h-20"-->
        <!--                     type='submit'-->
        <!--                     text="Update Profile"-->
        <!--          ></mm-button>-->
        <!--        </div>-->

        <!--        <div class="pl-12">-->

        <!--          <mm-button [class]="'w-100p h-60 br-4 gap-20'"-->
        <!--                     iconClass="fs-20 w-20 h-20"-->
        <!--                     type='button'-->
        <!--                     text="Close"-->
        <!--                     (click)="closeDialog()"-->
        <!--          ></mm-button>-->
        <!--        </div>-->
      </div>
      <div class="right-container flex-column pt-36 align-i-center"
           [ngStyle]="{
     'max-width': isMobile? '100%': '800px',
      'width': isMobile? '100%': '40%',
      'height': isMobile? '': '100%'
    }"
      >
        <div class="pic-container p-4 flex-row align-i-center justify-content-center w-200 h-300 br-8">
          <ng-container *ngIf="previewUrl; else profilePicIcon">

            <img
              style="object-fit: contain"
              class="h-100p w-100p" [src]="previewUrl" alt="Profile Preview" width="100">
          </ng-container>
        </div>
        <input #fileInput type="file" accept="image/*" hidden (change)="onFileSelected($event)">
        <div class="mt-16">
          <mm-button [class]="'w-200 br-4 gap-20 h-40 '"
                     position="after"
                     icon="cloud_done"
                     iconClass="fs-20 w-20 h-20"
                     type='button'
                     text="Select Pic" (click)="fileInput.click()"></mm-button>
        </div>
      </div>
    </div>
    <div class="flex-column mt-20 gap-20 mb-20 pr-8" *ngIf="isMobile">
      <div class="pl-12">
        <mm-button [class]="'w-100p h-60 br-4 gap-20'"
                   position="after"
                   [disabled]="editProfileForm.invalid"
                   icon="cloud_upload"
                   iconClass="fs-20 w-20 h-20"
                   type='submit'
                   text="Update Profile"
        ></mm-button>
      </div>

      <div class="pl-12">

        <mm-button [class]="'w-100p h-60 br-4 gap-20'"
                   iconClass="fs-20 w-20 h-20"
                   type='button'
                   text="Close"
                   (click)="closeDialog()"
        ></mm-button>
      </div>

    </div>
  </form>
</div>

<ng-template #profilePicIcon>
  <mat-icon class=" profile-pic-icon ls-option-icon cursor-pointer fs-80 h-80 w-80"
            [fontIcon]="'account_circle'"></mat-icon>
</ng-template>

