<div (click)="closeMenu.emit()"
     class="header-user-menu-outer-container
     position-absolute
     flex-row justify-content-center p-8
     w-100p h-100p">
  <div
      [@fadeInOut]
      class="user-menu-container
      position-absolute
       br-32 flex-column justify-content-center gap-12 h-200
       w-264 mt-72">

    <mm-user-menu-nav
        (click)="onUserIconClick()"
        class="pl-4 pr-4 h-56 br-20"
        iconImgContainerClass="h-48 w-48"
        textContainerClass="h-48 pl-4 pr-4"
        iconClass="h-28 w-28 fs-28"
        textClass="fw-6 fs-16"
        [text]="userName"
        [imageUrl]="profileImgUrl ?? ''"
        imageClass="h-40 w-40"
        gap="8"
        [showIcon]="true"
        icon="person"
    >
    </mm-user-menu-nav>
    <mm-user-menu-nav
        (click)="onLogOutClick()"
        class="pl-4 pr-4 h-56 br-20"
        iconImgContainerClass="h-48 w-48"
        textContainerClass="h-48 pl-4 pr-4"
        iconClass="h-28 w-28 fs-28"
        textClass="fw-6 fs-16"
        [text]="isLoggingOut ? 'LOGGING OUT...' : 'Logout'"
        imageClass="h-20 w-20"
        gap="8"
        [showIcon]="true"
        icon="logout"
    >
    </mm-user-menu-nav>
  </div>
</div>