.category-container {
  transition: all 0.3s ease;
  background: var(--items-bg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);

  &:hover {
    transform: translateY(-4px) scale(1.03);

    .icon-wrapper {
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    }
  }

  .icon-wrapper {
    background: var(--header-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    .category-icon{
      color: black;
    }
  }

  .category-title {
    color: #333;
    transition: color 0.3s ease;
  }
}
