.category-container {
  transition: all 0.3s ease;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);

  &:hover {
    transform: translateY(-4px) scale(1.03);

    .icon-wrapper {
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    }
  }

  .icon-wrapper {
    background: linear-gradient(135deg, #00b4db, #0083b0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    .category-icon{
      color: #fff;
    }
  }

  .category-title {
    color: #333;
    transition: color 0.3s ease;
  }
}
