<div
  [ngClass]="isMobile?'':'p-12'"
  class="home-container flex-row pt-4 br-20 gap-12">

  @if (!isMobile) {
    <div class="left-section pb-12 h-100p"
      [class.collapsed]="!isExpanded">
      <mm-filters-component
        (expand)="toggleFilters($event)"
        >
      </mm-filters-component>
    </div>
  }

  <div
    [ngClass]="isMobile?'justify-content-center':'pl-12'"
    [class.mobile]="isMobile"
    class="right-section position-relative h-100p pt-4">

    <div class="items-container h-100p flex-row br-20 gap-12"
      [ngClass]="isMobile?'justify-content-center':'pl-12'"
      >

      @if (!isLoading && listings.length === 0) {
        <div class="w-100p h-100p">
          <mm-empty-state
            title="No listings found"
            subtitle="Try changing your filters to see more results."
            [showSubtitle]="true"
          ></mm-empty-state>
        </div>
      }

      @if (!isLoading || listings.length > 0) {
        @for (listing of listings; track trackByListingId($index, listing)) {
          <mm-listing-card [listing]="listing"></mm-listing-card>
        }
      }

      @if (isLoading && listings.length === 0) {
        @for (i of [1,2,3,4,5,6]; track i) {
          <mm-listing-card-skeleton></mm-listing-card-skeleton>
        }
      }

    </div>
    @if (hasMore) {
      <div id="listing-sentinel" style="height: 1px; width: 100%;"></div>
    }
    @if (isLoading && listings.length > 0) {
      <div class="loading-indicator w-100p p-12">
        <p class="text-center">Loading more listings...</p>
      </div>
    }

    @if (isMobile) {
      <div class="mobile-filters-fab flex-row w-100p pl-12 position-absolute">
            <div class="mobile-search-bar mb-8">
              <mm-search
                placeholder="Search listings"
                [showSuggestions]="false"
                [value]="searchQuery"
                (valueChange)="onMobileSearchChange($event)"
                containerClass="br-32 pl-12 pr-12 h-44"
              ></mm-search>
            </div>
        <mm-button
          (click)="openFiltersBottomSheet()"
          [type]="'button'"
          [text]="'Filters'"
          [showIcon]="true"
          [icon]="'tune'"
          [position]="'RIGHT'"
          [class]="'h-44 br-32 gap-12 pl-16 pr-16'"
          [textClass]="'fs-14 fw-6'"
          [iconClass]="'fs-18 w-18 h-18'"
        ></mm-button>
      </div>
    }
  </div>

</div>
