.home-container {
  height: calc(100vh - 112px);

  .left-section {
    width: 25vw;
    transition: width 0.4s ease-in-out;

    &.collapsed {
      width: 28px;
      transition: width 0.4s ease-in-out;
    }
  }

  .right-section {
    width: 75vw;

    .items-container {
      flex-wrap: wrap;
      overflow: auto;
      transition: width 0.4s ease-in-out;
    }

    &.mobile {
      width: 100vw;
    }
  }

  .left-section.collapsed + .right-section {
    width: calc(100vw - 40px);
  }

  .mobile-filters-fab {
    right: 16px;
    bottom: 16px;
    z-index: 5;
  }
}

::ng-deep .home-filters-bottomsheet-backdrop.cdk-overlay-backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
}

::ng-deep .cdk-overlay-container {
  width: 100vw;
  position: fixed;
  border: 0;
  bottom: 0;

  .home-filters-bottomsheet-container {

    display: flex;
    justify-content: center;
    overflow: hidden;

    .mat-bottom-sheet-container {
      // max-height: 60vh;
      background: var(--primary-color);
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      box-shadow: none;
      padding: 0;
      margin: 0;
      max-width: none;
      width: 100vw;
    }
  }
}
