<div class="main-container w-100p"
     [ngClass]="isMobile ? 'p-8' : 'p-4'">
  <div class="menu-bar w-100p p-4 br-32 align-i-center"
       [ngClass]="isMobile ? 'flex-column gap-8' : 'flex-row justify-content-space-b h-44 '">

    <div class="left-section justify-content-center flex-row gap-12 h-100p"
         [ngClass]="isMobile ? 'w-100p' : ''">
      <mm-nav-button
        [routerLink]="[]"
        [queryParams]="getPostsQueryParams('all')"
        text="All Posts"
        textClass="fw-6"
        [class]=" !isMobile ? 'br-32 pl-8 pr-8 h-100p' : 'br-32 pl-8 pr-8 h-32'"
        [headerNav]="true"
        [indicateActiveBtn]="true"
        >

      </mm-nav-button>
      <mm-nav-button
        (click)="isSelectionMode = false"
        [routerLink]="[]"
        [queryParams]="getPostsQueryParams('deleted')"
        text="Deleted Posts"
        textClass="fw-6"
        [class]=" isMobile ? 'br-32 pl-8 pr-8 h-100p' : 'br-32 pl-8 pr-8 h-32'"
        [headerNav]="true"
        [indicateActiveBtn]="true"
        >

      </mm-nav-button>

    </div>
    <div class="right-section align-i-center gap-8 h-100p"
         [ngClass]="isMobile ? 'w-100p flex-wrap flex-column' : 'flex-row'">
      <mm-search
          placeholder="Search listings"
          [showSuggestions]="false"
          [value]="searchQuery"
          (valueChange)="onSearchChange($event)"
          [containerClass]="isMobile ? 'br-32 pl-12 pr-12 h-36 w-100p' : 'br-32 pl-12 pr-12 h-36 w-320'"
      ></mm-search>
      @if (!isSelectionMode) {
        <mm-button (click)="toggleSelectButton()"
          [disabled]="isDeletedListingPage"
          type="button"
          [class]="isMobile ? 'w-80 h-32' : 'w-80 h-32'"
          text="SELECT"
          textClass="fw-7"
          >
        </mm-button>
      }

      @if (isSelectionMode) {
        <mm-button
            [disabled]="!selectedListings.length"
            (click)="onDeleteClick()"
            [isWarningBtn]="true"
            class="w-80 h-100p"
            text="DELETE"
            textClass="fw-7"
            type="button"
            >
          </mm-button>
        <mm-button
            (click)="toggleSelectButton()"
            class="w-36 h-100p"
            [showIcon]="true"
            iconClass=" w-20 h-20 fs-20"
            icon="close_small"
            type="button"
        >
        </mm-button>
      }

    </div>
  </div>
  <div class="listings-container flex-row"
       [ngClass]="isMobile ? 'mt-4 gap-8' : 'mt-8 gap-12'">
    @if (!isLoading || listings.length > 0) {
      @for (listing of listings; track listing) {
        <mm-listing-card
          (onSelect)="onListingSelect($event)"
          [isSelectionMode]="isSelectionMode"
          [showFavoriteIcon]="false"
          [listing]="listing"
          >
        </mm-listing-card>
      }
    }
    @if (isLoading && listings.length === 0) {
      @for (i of [1,2,3,4,5,6]; track i) {
        <mm-listing-card-skeleton></mm-listing-card-skeleton>
      }
    }
    @if (!isLoading && listings.length === 0) {
      <div class="w-100p h-100p">
        <mm-empty-state
          title="No listings found"
          [icon]="'search_off'"
          [showSubtitle]="false"
        ></mm-empty-state>
      </div>
    }
  </div>

  @if (hasMore) {
    <div id="admin-listing-sentinel" style="height: 1px; width: 100%;"></div>
  }
  @if (isLoading && listings.length > 0) {
    <div class="loading-indicator w-100p p-12">
      <p>Loading more listings...</p>
    </div>
  }
</div>

