.main-container {
  .menu-bar {
    background-color: var(--header-color);
  }

  .listings-container {
    overflow: scroll;
    flex-wrap: wrap;
  }

  .right-section.flex-wrap {
    flex-wrap: wrap;
  }
}

.loading-indicator p {
  text-align: center;
}