<div
  [ngClass]="isExpanded?'p-8':''"
    class="filters-container flex-column w-100p align-i-center
     position-relative br-20 h-100p gap-20">
  <div class="expand-icon-container position-absolute"
    (keydown)="onToggleKeydown($event)"
    tabindex="0"
    role="button"
    [attr.aria-label]="isExpanded ? 'Collapse filters' : 'Expand filters'">
    <mm-back-fw-icon
      [isForwardIcon]="!isExpanded"
      (clicked)="toggleFilters()"
      backgroundColor="var(--border-color)"
      iconClass="fs-12 w-12 h-12"
      containerClass="w-20 h-20"
      >
    </mm-back-fw-icon>
  </div>
  @if (isExpanded) {
    <div class="price-range-filter mt-24 w-100p">
      <mm-price-slider
        class="w-100p"
        [minValue]="1000"
        [maxValue]="500000"
        [step]="1000"
        >
      </mm-price-slider>
    </div>
    <div class="w-100p">
      <mm-location-selector class="w-100p">
      </mm-location-selector>
    </div>
  }
</div>
