@import './lib/styles';
@import "./lib/var.global";

body{
  background-color: var(--app-background-color);
  overflow-x: hidden;
}

#toast-container>div.toast {
  opacity: 1;
}

.toast-success {
  background-color: var(--success-notify-color);
}

.toast-error {
  background-color: var(--error-notify-color);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

::-webkit-scrollbar{
  width: 0;
}

.cursor-pointer{
  cursor: pointer;
}

.mdc-tooltip__surface {
  background: linear-gradient(135deg, #000000, #000000) !important;
  background-size: 200% 200% !important;
  animation: tooltipShimmer 3s ease infinite !important;

  color: white !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  padding: 6px 12px !important;
  border-radius: 6px !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25) !important;
  overflow: visible !important;
}

@keyframes tooltipShimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mdc-tooltip__surface::after {
  content: '';
  position: absolute !important;
  bottom: 100% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #000000 !important;
}


