.header-user-menu-outer-container {
  background: rgba(0, 0, 0, 0.57);
  backdrop-filter: blur(10px);
  z-index: 9;
  top: 0;
  left: 0;

  .user-menu-container {
    background: var(--header-color);
    right: 8px;
  }
}