<div class="home-container flex-row pl-12 pt-4 br-20 mt-100 gap-12">

  <div class="left-section pb-12 h-100p"
       [class.collapsed]="!isExpanded">

    <mm-filters-component
        (expand)="toggleFilters($event)"
    >
    </mm-filters-component>
  </div>

  <div class="right-section flex-row pl-12 pt-4 br-20 gap-12">
    <ng-container *ngFor="let listing of listings; trackBy: trackByListingId">
      <mm-listing-card [listing]="listing"></mm-listing-card>
    </ng-container>
  </div>

</div>
